POSTGRES_DB=crm_certifast
POSTGRES_USER=crm_certifast
POSTGRES_PASSWORD=troque_esta_senha

MINIO_ROOT_USER=crm_certifast
MINIO_ROOT_PASSWORD=troque_esta_senha_forte

API_PORT=3307
WEB_PORT=3317
APP_BASE_URL=http://localhost:3317
SESSION_SECRET=troque_esta_chave_muito_forte
